<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
<!--네트워크 연결 사용-->
    <uses-permission android:name="android.permission.INTERNET" />
<!--    네트워크 연결 상태 체크-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 🔔 알림 권한 (Android 13+) -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TeumTeumEat"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <activity
            android:name=".ui.screen.a0_splash.SplashActivity"
            android:exported="true">



        </activity>

        <activity
            android:name=".ui.screen.a1_login.LoginActivity"
            android:exported="true">
            <!--            카카오 웹뷰 딥링크 -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="teumteumeatandroid"
                    android:host="login" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.screen.a1_login.webView.KakaoLoginWebViewActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity
            android:name=".ui.screen.a2_on_boarding.OnBoardingActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize"
            android:label="@string/title_activity_on_boarding">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".ui.screen.a3_welcome.WelcomeActivity"
            android:exported="true">

        </activity>
        <activity
            android:name=".ui.screen.a4_main.MainActivity"
            android:exported="true"
            android:label="@string/title_activity_home"></activity>
    </application>

</manifest>